<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.getlabeltext" level="debug"/>
    <logger name="org.jdbi.sql" level="debug"/>
    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
